.card {
    display: flex;
}

.details {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.image {
    height: 200px;
}

.controls {
    display: flex;
    align-items: center;
}

.item {
    width: 100%;
}