.item {
    width: 100%;
}

.card {
    display: flex;
    width: 100%;
}

.image {
    height: 200px;
}

.details {
    width: 100%;
}

.controls {
    justify-content: flex-end;
    margin-right: 20px;
}